/* ===== RESET ===== */

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    margin:0;
    padding:20px;
}


/* ===== TITULOS ===== */

h1{
    text-align:center;
}

h2{
    text-align:center;
}


/* ===== CONTAINER ===== */

.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}


/* ===== PLACAR ===== */

#placar{
    font-size:40px;
    font-weight:bold;
    text-align:center;
    margin:20px 0;
}

#tempo{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}


/* ===== STATUS ===== */

#status{
    text-align:center;
    font-weight:bold;
}


/* ===== EVENTOS ===== */

#eventos{
    list-style:none;
    padding:0;
}

#eventos li{
    padding:8px;
    border-bottom:1px solid #eee;
}

#eventos li:nth-child(odd){
    background:#fafafa;
}


/* ===== FORMULÁRIOS ===== */

input, select{
    padding:6px;
    margin:5px;
    border-radius:6px;
    border:1px solid #ccc;
}


/* ===== BOTÕES ===== */

button{
    padding:7px 12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}

/* botões específicos */

.btn-gol{
    background:#27ae60;
    color:white;
}

.btn-cartao{
    background:#f39c12;
    color:white;
}

.btn-remover{
    background:#e74c3c;
    color:white;
}

.btn-criar{
    background:#3498db;
    color:white;
}


/* ===== HISTÓRICO ===== */

#lista{
    list-style:none;
    padding:0;
}

#lista li{
    padding:10px;
    margin-bottom:8px;
    background:white;
    border-radius:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

body{
font-family:Arial, Helvetica, sans-serif;
margin:0;
background:#f4f6f8;
}

header{
background:#2c3e50;
color:white;
padding:25px;
display:flex;
justify-content:space-between;
align-items:center;
}

header h1{
margin:0;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
margin-top:80px;
flex-wrap:wrap;
}

.card{
width:260px;
background:white;
padding:30px;
border-radius:12px;
text-align:center;
text-decoration:none;
color:#333;
box-shadow:0 6px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.icon{
font-size:60px;
background:#e0e7ff;
width:100px;
height:100px;
margin:auto;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
}

.card h2{
color:#1e3a8a;
}

.card p{
color:#555;
}

